*{
    margin: 0;
    padding: 0;
}
/*Text Stylings*/
h1{
    font-family: Coming Soon;
    font-size: 50px;
    font-weight: 500;
}
h2{
    font-family: Coming Soon;
    font-size: 40px;
    font-weight: 500;
}
.writing-footer{
    color: #fff;
    font-weight: 300;
}
p {
    font-family: 'Nathum Gothic', sans-serif;
    font-size: 20px;
}
.subtext {
    font-size: 15px;
    color: #B0B0B0;
}
.bold {
    font-weight: 600;
    color: #5A5A5A;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #5A5A5A; 
    align-items: center;
    width: 100%;
}

/*For Mobile Stylings*/
@media screen and (min-width: 411px) {
    
    body{
        width: 500px;
    }
    
    .product-info{
        display: flex;
        flex-direction: column;
        border-bottom: solid 5px  #5A5A5A;

    }
    
    .title{
        padding: 10px;
        text-align: center;
        animation-name: title-animation;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
    .parralex-section{
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 2px;
        border-bottom: solid 5px  #5A5A5A;
    }
    
    .parralex-photo{
        width: 250px;
        height: 150px;
    }
    
    #p1 {
        height: 500px;
        position: fixed;
    }
    #p2 {
        width: 250px;
        height: 155px;
        position: fixed;
        z-index: -1;
    }
    #p3 {
        width: 250px;
        z-index: -2;
        height: 155px;
        background-color: #5A5A5A ;
        position: relative;
    }
    .product-individual-photo{
        width: 300px;
        border: solid 20px #5A5A5A ;
    }
    
    .product-photos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: solid 5px  #5A5A5A;
    }
    
    #prod-photo1{
        margin: 10px 10px 10px 10px;
        animation-name: prod-photo1-animtaion;
        animation-duration: 3s;
    }
    
    @keyframes prod-photo1-animtaion{
        0% { opacity: 0; margin: 10px 10px 10px -1000px;}
        50% { opacity: 0.5;}
        100% { opacity: 1;}
    }
    
    #prod-photo2{
        margin: 10px 10px 10px 10px;
        animation-name: prod-photo2-animtaion;
        animation-duration: 3s;
    }
    
    @keyframes prod-photo2-animtaion{
        0% { opacity: 0; margin: 10px -1000px 10px 10px;}
        50% { opacity: 0.5;}
        100% { opacity: 1;}
    }
    .product-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        border-bottom: solid 5px  #5A5A5A;
    }
    
    .prod-desc-text{
        padding: 50px;
        width: 75%;
        text-align: center;
        background-color: #fff;
        z-index: 1;
    }
    
    #pen-photo{
        width: 450px;
        animation-name: pen-photo-animation;
        animation-duration: 3s;
        margin: 50px 10px 10px 10px;
    }
    
    @keyframes pen-photo-animation{
        0% {width:100px;}
    }
    
    #paper{
        width: 100px;
        z-index: -1
    }
    
    .product-reviews{
    }
    
    .indivdual-review{
        margin: 40px 40px 40px 40px;
        padding: 10px 10px 30px 10px;
        display: flex;
        justify-content: space-around
    }
    .review{
        align-self: flex-end;
    }
}

@media screen and (min-width: 1000px) {
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    
    .product-info{
        display: flex;
        flex-direction: column;
        border-bottom: solid 5px  #5A5A5A;

    }
    
    .title{
        padding: 10px;
        text-align: center;
        animation-name: title-animation;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }
    
    .parralex-section{
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 2px;
        border-bottom: solid 5px  #5A5A5A;
    }
    
    .parralex-photo{
        width: 250px;
        height: 150px;
    }
    
    #p1 {
        height: 500px;
        position: fixed;
    }
    #p2 {
        width: 250px;
        height: 155px;
        position: fixed;
        z-index: -1;
    }
    #p3 {
        width: 250px;
        z-index: -2;
        height: 155px;
        background-color: #5A5A5A ;
        position: relative;
    }
    
    .product-individual-photo{
        width: 300px;
        border: solid 20px #5A5A5A ;
    }
    
    .product-photos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    
    #prod-photo1{
        margin: 10px 10px 10px 10px;
        animation-name: prod-photo1-animtaion;
        animation-duration: 3s;
    }
    
    @keyframes prod-photo1-animtaion{
        0% { opacity: 0; margin: 10px 10px 10px -1000px;}
        50% { opacity: 0.5;}
        100% { opacity: 1;}
    }
    
    #prod-photo2{
        margin: 10px 10px 10px 10px;
        animation-name: prod-photo2-animtaion;
        animation-duration: 3s;
    }
    
    @keyframes prod-photo2-animtaion{
        0% { opacity: 0; margin: 10px -1000px 10px 10px;}
        50% { opacity: 0.5;}
        100% { opacity: 1;}
    }
    
    .tablet-section1{
        display: flex;
        border-bottom: solid 5px  #5A5A5A;
    }
    
    .product-desc {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        width: 500px;
        align-items: center;
        padding: 0px;
        border: none;
    }
    
    .prod-desc-text{
        padding: 50px;
        width: 75%;
        text-align: center;
        background-color: #fff;
        z-index: 1;
    }
    
    #pen-photo{
        width: 450px;
        animation-name: pen-photo-animation;
        animation-duration: 3s;
        margin: 50px 10px 10px 10px;
    }
    
    @keyframes pen-photo-animation{
    }
    
    #paper{
        width: 100px;
        z-index: -1
    }
    
    .product-reviews{
    }
    
    .indivdual-review{
        margin: 40px 40px 40px 40px;
        padding: 10px 10px 30px 10px;
        display: flex;
        justify-content: space-around
    }
    .review{
        align-self: flex-end;
    }
}





